* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	line-height: 1;
}

a {
	text-decoration: none;
}

input {
	outline: none;
	border: none;
}

img:not([src]) {
  visibility: hidden;
}

.hide {
	display: none !important;
}

body,html {
	height: 100%;
	width: 100%;
}

body {
	background-color: #000;
	-webkit-overflow-scrolling: touch;
	scrollbar-width: none;
	-ms-overflow-style: none;
}
body::-webkit-scrollbar {
	display: none;
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    z-index: 10;
}

nav .back {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 100%;
    backdrop-filter: saturate(180%) blur(7px);
    background: rgba(0,0,0,.7);
}

nav a,
nav p {
	display: block;
	position: relative;
	width: 100%;
	text-align: center;
	overflow: hidden; 
}

nav a span,
nav p span {
	display: inline-block;
	padding: 20px 0;
	font-family: sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	color: white;
}

nav a.icon span,
nav p.icon span {
	color: white;
	font-size: 26px;
}

nav .search {
	display: block;
	font-style: normal;
	transform: rotate(180deg);
	font-size: 22px;
	pointer-events: none;
	position: relative;
	z-index: 2;
}

nav a:not(.icon) span:first-letter {
	color: white;
}

nav a:hover,
nav p:hover {
	overflow: visible;
	background-color: #e52325;
	color: #fff;
	cursor: pointer;
}

nav a:hover span,
nav p:hover span {
	background-color: #e52325;
	color: #fff;
}

nav a:not(.icon) span {
	color: transparent;
	padding: 20px;
}

nav a:hover span {
	z-index: 9;
	color: #fff;
}

nav #search-input {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 100%;
	line-height: 1;
	padding: 0 5px 0 55px;
	background-color: transparent;
	color: #fff;
	font-size: 18px;
	font-family: sans-serif;
	font-weight: bold;
	text-transform: uppercase;
}

nav #search-input:hover {
	background-color: #e52325;
}

nav #search-input::-webkit-input-placeholder {
	color: #fff;
}

nav #search-input:-moz-placeholder {
	color: #fff;
}

nav #search-input::-moz-placeholder {
	color: #fff;
}

nav #search-input:-ms-input-placeholder {
	color: #fff;
}

.links {
	position: relative;
	width: 100%;
	margin: 0;
	padding: 0;
}

.links .sidebar-pinned {
	/*display: none;*/
}

section {
	display: flex;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	scrollbar-width: none;
	-ms-overflow-style: none;
	padding-left: 70px;
}

section::-webkit-scrollbar {
	display: none;
}

section + section {
	margin-top: 20px;
}

section item {
	position: relative;
	margin-right: 20px;
	min-width: 352px;
	max-width: 352px;
	height: 196px;
	color: rgba(255, 255, 255, 0.25);
	border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 0px 8px -4px black;
}

section .section-title {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: sans-serif;
	position: relative;
	margin-right: 20px;
	min-width: 196px;
	height: 196px;
  background: #111;
	color: rgba(255,255,255,0.85);
	font-weight: bold;
	text-align: center;
	padding: 0;
	line-height: 1.25;
	word-break: break-all;
	font-size: 26px;
	text-shadow: 5px 3px #111;
	background-image: radial-gradient(rgb(255 255 255 / 15%) 15%, transparent 16%), radial-gradient(rgb(255 255 255 / 15%) 15%, transparent 16%);
 	background-size: 60px 60px;
  background-position: 0 0, 30px 30px;
  transition: background-size 0.25s;
}

section .section-title:hover {
	background-size: 50px 50px;
}

section .section-title + published {
	display: none;
}

section .section-title-link {
	color: #fff;
	text-decoration: none;
	height: 100%;
	width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,.6);
  transition: background-color 0.25s;
}

section .section-title-link h3 {
	pointer-events: none;
	font-size: 26px;
}

section .section-title-link:hover {
	background-color: rgba(0,0,0,.2);
}

section .section-title-link:hover h3 {
	display: none;
}

section .section-title-link:hover:after {
	content: 'PIN';
}

#pinned section .section-title-link:hover:after {
	content: 'UNPIN';
}

#latest section .section-title-link:hover h3 {
	display: flex;
}

#latest section .section-title-link:hover:after {
	display: none;
}

#latest section .section-title {
	height: 352px;
}

#latest section item {
	height: 352px;
	display: flex;
	flex-direction: column;
}

#latest section item title {
	padding-bottom: 45px;
  font-size: 24px;
  opacity: 1;
}

#latest section item:hover title {
  opacity: 0;
}

#latest section item:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 50px;
	background: rgb(0,0,0);
	background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
}

#latest section item img {
	height: 196px;
}

#latest section item p {
	padding: 10px;
	color: #fff;
	line-height: 1.25;
	font-size: 20px;
	font-family: sans-serif;
}

#latest section item p {
	opacity: 0.1;
}

#latest section item:hover p {
	opacity: 1;
}


section item published {
	position: absolute;
	bottom: 0;
	right: 0;
	color: white;
    padding: 20px;
    font-family: sans-serif;
    font-weight: bold;
    text-shadow: 0 0 8px #000;
}

section item .iframe-source {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 100%;
	z-index: 1;
}

section item title {
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: left;
	color: white;
	padding: 20px;
	font-family: sans-serif;
	font-weight: bold;
	opacity: 0;
	line-height: 1.25;
	text-shadow: 0 0 20px #000;
}

section item:hover title {
	opacity: 1;
}

section item:hover published {
	opacity: 0;
}

.section-title {
	text-transform: uppercase;
	color: white;
	font-family: sans-serif;
	font-weight: bold;
	padding: 40px 0 20px 70px;
	font-size: 30px;
}

.section-title span {
	color: white;
}

section item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

section item .lozad {
	opacity: 0.25;
}

section item .lozad.loaded {
	opacity: 1;
}

#iframe-popup {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	border: none;
	visibility: hidden;
	pointer-events: none;
	z-index: -1;
}

#iframe-popup.minimized {
	top: auto;
	left: auto;
	right: 0;
	bottom: 0;
	width: 500px;
	height: 305px;
	border-top: 30px solid transparent;
}

#iframe-popup.minimized:hover {
	cursor: nw-resize;
	border-top: 30px solid transparent;
	backdrop-filter: saturate(180%) blur(7px);
	background: rgba(229,35,37,1);
}

#iframe-close, #iframe-minimize {
	position: fixed;
	top: 0;
	right: 0;
	color: white;
	background-color: #e52325;
	font-family: sans;
	font-weight: bold;
	font-size: 20px;
	padding: 30px 30px 50px 50px;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	z-index: -1;
	border-bottom-left-radius: 100%;
}

#iframe-minimize {
	right: auto;
	left: 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 100%;
	padding: 30px 50px 50px 30px;
}

#iframe-close:hover, #iframe-minimize:hover {
	opacity: 1;
}

#iframe-popup.show, #iframe-minimize.show {
	visibility: visible;
	pointer-events: initial;
	z-index: 15;
}

#iframe-popup.show ~ #iframe-close, #iframe-popup.show ~ #iframe-minimize {
	visibility: visible;
	pointer-events: initial;
	z-index: 20;
}

#iframe-popup.minimized ~ #iframe-close, #iframe-popup.minimized ~ #iframe-minimize {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	z-index: -1;
}

.latest section channel {
	flex: 1 1 auto;
	position: relative;
    margin-right: 20px;
	min-width: 500px;
	max-width: 500px;
    height: auto;
    overflow-x: auto;
}

.latest section channel item {
	position: relative;
    width: 100%;
    height: 100%;
    color: rgba(255, 255, 255, 0.25);
    border-radius: 4px;
    overflow: hidden;
	box-shadow: 0px 0px 8px -4px black;
	flex-direction: column;
	background-color: rgba(0,0,0,.7);
}

.latest section channel title {
	opacity: 1;
}

.latest section channel published {
	opacity: 0;
}

.latest section channel item img {
	height: 450px;
}

.latest section channel > title,
.latest section channel > published,
.latest section channel item {
	display: none;
}

.latest section channel item:first-of-type {
	display: flex;
	color: transparent;
}

.iframe-source:hover {
	border: 4px solid #e52325;
}
